{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% trans %}enigmatic.crm.header.titles.contacts_list{% endtrans %} - {{ parent() }}{% endblock %}
{% block nav_active %}contact{% endblock %}

{% block content %}

    {% import "AppBundle:macro:table.html.twig" as table %}
    {% import "AppBundle:macro:icon.html.twig" as icon %}
    {% import "AppBundle:macro:button.html.twig" as button %}

    <div class="action action_left">
        {{ button.create('add', 'Add'|trans, path('enigmatic_crm_contact_add'), null, 'speednav') }}
    </div>

    <div class="table_pager">
        {% include 'AppBundle:include:pager.html.twig' %}
    </div>

    <table class="table table_striped table_extended">
        <thead>
            <tr>
                {{ table.th('name', 'enigmatic.crm.contact.table.head.name'|trans, 20, params['order'], params['entity']) }}
                {{ table.th('email', 'enigmatic.crm.contact.table.head.email'|trans, 20, params['order'], params['entity']) }}
                {{ table.th('function', 'enigmatic.crm.contact.table.head.function'|trans, 20, params['order'], params['entity']) }}
                {{ table.th('phones', 'enigmatic.crm.contact.table.head.phones'|trans, 20, null, params['entity']) }}
                {{ table.th('account_name', 'enigmatic.crm.contact.table.head.account'|trans, 20, params['order'], params['entity']) }}
                {{ table.th('action', 'Action'|trans, 10, null, params['entity']) }}
            </tr>
            <tr id="list_search">
                {{ table.th_search_input('name', params['search']) }}
                {{ table.th_search_input('email', params['search']) }}
                {{ table.th_search_input('function', params['search']) }}
                {{ table.th_search_input('phones', params['search']) }}
                {{ table.th_search_input('account_name', params['search']) }}
                {{ table.search_link(params['entity']) }}
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr data-id="{{ contact.getId() }}" id="item_{{ contact.getId() }}" class="{% if loop.index is divisibleby(2) %}even{% else %}odd{% endif %} cliquable">
                <td class="onclick">{{ contact.getFirstname() }} {{ contact.getName() }}</td>
                <td class="onclick">{{ contact.getEmail() }}</td>
                <td class="onclick">{{ contact.getFunction() }}</td>
                <td class="onclick">
                    {% for phone in contact.getPhones%}
                        <span>{{ phoneFormat(phone.getPhone()) }}</span>
                    {% endfor %}
                </td>
                <td><a class="speednav" href="{{ path('enigmatic_crm_account_view', {'account': contact.getAccount().getId()}) }}" title="">{{ contact.getAccount().getName() }}</a></td>
            </tr>
        {% else %}
            <tr class="even"><td colspan="6">{% trans %}enigmatic.crm.contact.table.empty{% endtrans %}</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="table_pager">
        {% include 'AppBundle:include:pager.html.twig' %}
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {% include 'AppBundle:include:table.js.twig' %}

    <script type="text/javascript">
        jQuery(function () {
            Table{{ params['entity'] }}Management.init(jQuery('#content'), '{{ path('enigmatic_crm_contact_list') }}');
        });
    </script>

    <script type="text/javascript">
        jQuery('.onclick').click(function() {
            Nav.get(Routing.generate('enigmatic_crm_contact_view.{{ app.request.locale }}', {'contact': $(this).parent().attr('data-id') }));
        })
    </script>

{% endblock %}