{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% trans %}enigmatic.crm.header.titles.contact_view{% endtrans %} - {{ contact.getFirstname() }} {{ contact.getName() }} - {{ parent() }}{% endblock %}
{% block nav_active %}contact{% endblock %}

{% block content %}

    {% import "AppBundle:macro:button.html.twig" as button %}

    <div class="action action_left">
        {{ button.create('back', 'Back'|trans, app.request.headers.get('referer'), null, 'speednav') }}
    </div>

    <div class="action action_right">
        {{ button.create('update', 'Update'|trans, path('enigmatic_crm_contact_update', {'contact': contact.getId()}), null, 'speednav') }}
        {% if is_granted('ROLE_RCA') %}
            {{ button.create('remove', 'Remove'|trans, path('enigmatic_crm_contact_remove', {'contact': contact.getId()}), 'return confirm("'~'enigmatic.crm.header.titles.contact_view' | trans~'");') }}
        {% endif %}
    </div>

    <h1>{{ contact.getName() }}</h1>


    <div class="view">

        <div>
            {% trans %}enigmatic.crm.contact.field.account.name{% endtrans %} : <a href="{{ path('enigmatic_crm_account_view', {'account': contact.getAccount().getId()}) }}" title="">{{ contact.getAccount.getName() }}</a> <br/>
            {% trans %}enigmatic.crm.contact.field.email.name{% endtrans %} : <a href="mailto:{{ contact.getEmail() }}" title="">{{ contact.getEmail() }}</a> <br/>
            {% trans %}enigmatic.crm.contact.field.function.name{% endtrans %} : {{ contact.getFunction() }} <br/>
            {% trans %}enigmatic.crm.contact.field.birthday.name{% endtrans %} : {% if contact.getBirthday() %}{{ contact.getBirthday() | date('d/m/Y') }}{% endif %} <br/>
            {% trans %}enigmatic.crm.contact.field.phone.name{% endtrans %} : <br/>
                {% for phone in contact.getPhones() %}
                    <span class="ico_phone_{{ phone.getTYpe() }}">{{ ('enigmatic.crm.contact.field.phone.type.'~phone.getType()) | trans }}</span> : <span>{{ phone.getPhone() }}</span> <br/>
                {% endfor %}
            {% trans %}enigmatic.crm.contact.field.address.name{% endtrans %} :
            <address>
                {{ contact.getAddress() }} <br/>
                {% if contact.getAddressCpl() %}
                    {{ contact.getAddressCpl() }} <br/>
                {% endif %}
                {% if contact.getCity() %}
                {{ contact.getCity().getName() }} {{ contact.getCity().getCanonicalZipcode() }}
                {% endif %}
            </address>
            <br/>
            {% if contact.getCity() %}
            {{ google_map(map) }}
            {% endif %}
            <br/>
            {% trans %}enigmatic.crm.contact.field.description.name{% endtrans %} : <p>{{ contact.getDescription() | nl2br }}</p><br/>

        </div>


    </div>


{% endblock %}