{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% trans %}enigmatic.crm.header.titles.campaign_mailing_view{% endtrans %} - {{ campaign.getName() }} - {{ parent() }}{% endblock %}
{% block nav_active %}campaign_mailing{% endblock %}

{% block content %}

{% import "AppBundle:macro:button.html.twig" as button %}
{% import "AppBundle:macro:icon.html.twig" as icon %}

    <div class="action">
        {{ button.create('back', 'Back'|trans, path('enigmatic_crm_campaign_mailing_list'), null, 'speednav') }}

        {% if campaign.getState() != constant('CAMPAIGN_MAILING_SENDED', campaign) %}
            {{ button.create('update', 'Update'|trans, path('enigmatic_crm_campaign_mailing_update', {'campaign': campaign.getId()}), null, 'speednav') }}
            {{ button.create('send', 'Send test mail'|trans, path('enigmatic_crm_campaign_mailing_send_test', {'campaign': campaign.getId()}), null, 'speednav') }}
        {% endif %}
        {% if is_granted('ROLE_RCA') %}
            {{ button.create('remove', 'Remove'|trans, path('enigmatic_crm_campaign_mailing_remove', {'campaign': campaign.getId()}), 'return confirm("'~'enigmatic.crm.campaign_mailing.action.remove_confirm' | trans~'");') }}
        {% endif %}
    </div>

    <h1>{% trans %}enigmatic.crm.header.titles.campaign_mailing_view{% endtrans %} : {{ campaign.getName() }}</h1>

    <div class="view">
        <h2>{% trans %}enigmatic.crm.campaign_mailing.view.title.mail{% endtrans %}</h2>

        <p>{% trans %}enigmatic.crm.campaign_mailing.field.emailSubject.name{% endtrans %} : <span>{{ campaign.getEmailSubject() }} </span></p>
        <p>{% trans %}enigmatic.crm.campaign_mailing.field.emailBody.name{% endtrans %} : <span>
        <p class="mail_content" style="max-height:200px;overflow:auto;">
            {{ campaign.getEmailBody() | raw }}
        </p>
		</span>
		</p>

        <h2>{% trans %}enigmatic.crm.campaign_mailing.view.title.config{% endtrans %}</h2>
        <p>{% trans %}enigmatic.crm.campaign_mailing.field.dateSended.name{% endtrans %} : <span>{{ campaign.getDateSended() | localizeddate('full', 'short') }}</span></p>
        <p>{% trans %}enigmatic.crm.campaign_mailing.field.state.name{% endtrans %} : <span>
            {% if campaign.getState() == constant('CAMPAIGN_MAILING_LOCKED', campaign) %}
                <span class="text-warning">{% trans %}enigmatic.crm.campaign_mailing.field.state.locked.name{% endtrans %}</span>
            {% elseif campaign.getState() == constant('CAMPAIGN_MAILING_WAITING', campaign) %}
                <span class="text-success">{% trans %}enigmatic.crm.campaign_mailing.field.state.waiting.name{% endtrans %}</span>
            {% elseif campaign.getState() == constant('CAMPAIGN_MAILING_SENDED', campaign) %}
                <span class="text-success">{% trans %}enigmatic.crm.campaign_mailing.field.state.sended.name{% endtrans %}</span>
            {% endif %}
			</span>
        </p>


        <h2>{% trans %}enigmatic.crm.campaign_mailing.view.title.contacts{% endtrans %}</h2>

        <ul class="mailing_contact" style="max-height:200px;overflow:auto;">
            {% for contact in campaign.getContacts() %}
                <li>{{ contact.getAccount().getName() }} ({{ contact.getFirstname() }} {{ contact.getName() }})</li>
            {% else %}
                <li>Aucun</li>
            {% endfor %}
        </ul>


    </div>

{% endblock %}
