{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% if account.getId() %}{% trans %}enigmatic.crm.header.titles.account_update{% endtrans %}{% else %}{% trans %}enigmatic.crm.header.titles.account_add{% endtrans %}{% endif %} - {{ parent() }}{% endblock %}
{% block nav_active %}account{% endblock %}

{% block content %}

    {% import "AppBundle:macro:button.html.twig" as button %}

    <div class="action action_left">
        {{ button.create('back', 'Back'|trans, account.getId()?path('enigmatic_crm_account_view', {'account': account.getId()}):path('enigmatic_crm_account_list'), null, 'speednav') }}
    </div>

    <h1>{% if account.getId() %}{% trans %}enigmatic.crm.header.titles.account_update{% endtrans %}{% else %}{% trans %}enigmatic.crm.header.titles.account_add{% endtrans %}{% endif %}</h1>

    <form class="speednav" method="post" action="" {{ form_enctype(form) }} id="account">

        {% if link_duplicate is defined %}
            {% if link_duplicate %}
                <a href="{{ path('enigmatic_crm_agency_account_link_to_agency', {'account': link_duplicate['account'], 'md5': link_duplicate['md5']}) }}">Lier ce compte à mon agence</a>
            {% endif %}
        {% endif %}

        {{ form_widget(form) }}

        <input class="btn" type="submit" value="{% if account.getId() %}{% trans %}enigmatic.crm.account.form.submit.update{% endtrans %}{% else %}{% trans %}enigmatic.crm.account.form.submit.add{% endtrans %}{% endif %}">
    </form>
{% endblock %}


