{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% trans %}enigmatic.crm.header.titles.account_import{% endtrans %} - {{ parent() }}{% endblock %}
{% block nav_active %}account{% endblock %}

{% block content %}

    {% import "AppBundle:macro:button.html.twig" as button %}

    <h1>{% trans %}enigmatic.crm.account_import.title.import{% endtrans %}</h1>

    <div class="action action_left">
        {{ button.create('back', 'Back'|trans, path('enigmatic_crm_account_list'), null, 'speednav') }}
    </div>

    <form method="post" action="" {{ form_enctype(form) }}>

        {{ form_widget(form) }}

        <input class="btn" type="submit" value="{% trans %}enigmatic.crm.account.form.submit.import{% endtrans %}">
        {{ button.create('cancel', 'Cancel'|trans, path('enigmatic_crm_account_list'), null, 'speednav' ) }}
    </form>
{% endblock %}
