{% extends 'form_div_layout.html.twig' %}

{% block genemu_jqueryselect2_entity_widget %}
    {% set required = false %}
    <select class="select2" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if placeholder is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{- block('choice_widget_options') -}}
    </select>
{% endblock %}

{% block genemu_jqueryselect2_choice_widget %}
    {% set required = false %}
    <select class="select2" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if placeholder is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{- block('choice_widget_options') -}}
    </select>
{% endblock %}

{% block enigmatic_city_row %}
    {% spaceless %}
        <div class="form_row form_city">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block enigmatic_city_widget %}
    {% spaceless %}
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %}
               style="display:none;"/>
        {{ render(controller('EnigmaticCityBundle:Default:getFormSearch', {'id_form_city': id, 'default_value':value })) }}
    {% endspaceless %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="form_row">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <br/>
            <span class="text_error">
                {% for error in errors %}
                    {{ error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators') }}
                {% endfor %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block form_label %}
    {% spaceless %}
        {% if label and label != ' ' %}

            {% if label is not sameas(false) %}
                {% if not compound %}
    {% set label_attr = label_attr|merge({'for': id}) %}
    {#{% if expanded %}#}
    {#{% if multiple %}#}
    {#{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' radio')|trim}) %}#}
    {#{% else %}#}
    {#{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' checkbox')|trim}) %}#}
    {#{% endif %}#}
    {#{% endif %}#}
{% endif %}
                {#{% if required %}#}
    {#{% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}#}
{#{% endif %}#}
                {% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ label|trans|raw }} {% if checked is not defined %}:{% endif %}
                {% if required and checked is not defined %}
    <span class="required" title="{% trans %}Required{% endtrans %}">*</span>
{% endif %}
                </label>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

