{% macro create(name, title, href, onclick, class) %}
    <a class="btn btn_{{ name }} {{ class }}" href="{{ href }}" title="{{ title }}" onclick="{% if onclick == 'Nav' %}return Nav.get('{{ href }}');{% else %}{{ onclick }}{% endif %}"><span>{{ title }}</span></a>
{% endmacro %}