{% extends "OroUIBundle:Default:index.html.twig" %}
{% block content %}

    <div class="container-fluid page-title">
        <div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">

                <div class="pull-left pull-left-extra">
                    <div class="pull-left">
                        <h1 class="oro-subtitle">{{ campaign.getName() }}</h1>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="pull-left btn-group icons-holder">
                        <a class="btn back icons-holder-text" href="{{ path('enigmatic_oro_marketing_faxing_home') }}" title="Annuler">Annuler</a>
                    </div>
                    {% if campaign.getState() != constant('CAMPAIGN_FAXING_SENDED', campaign) %}
                    <div class="pull-left btn-group icons-holder">
                        <a class="btn back icons-holder-text edit-button main-group" title="Modifier l'entité" href="{{ path('enigmatic_oro_marketing_faxing_update', {'campaign': campaign.getId()}) }}">
                            <i class="icon-edit hide-text">Modifier</i>
                            Modifier
                        </a>
                    </div>
                    {% endif %}
                    <div class="pull-left btn-group icons-holder">

                        <a class=" btn icons-holder-text no-hash remove-button" title="Supprimer Compte" href="{{ path('enigmatic_oro_marketing_faxing_update', {'campaign': campaign.getId()}) }}" onclick="return confirm('Confirmer la suppression ?');">
                            <i class="icon-trash hide-text">Supprimer</i>
                            Supprimer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-content">
        <div class="layout-content scrollable-container">

            <div class="navbar navbar-static scrollspy-nav" id="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid" style="width: auto;">
                        <ul class="nav" >
                            <li>
                                <a href="#scroll-1">Informations générales</a>
                            </li>
                            <li class="">
                                <a href="#scroll-2">Fax</a>
                            </li>
                            <li class="">
                                <a href="#scroll-3">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




            <div class="clearfix">
                <div class="scrollspy container-fluid scrollable-container view-container" data-offset="1" data-spy="scroll" data-target="#navbar">

                    <div class="responsive-section responsive-section-has-blocks">
                        <h4 class="scrollspy-title" >Informations générales</h4>
                        <div id="scroll-1" class="scrollspy-nav-target"></div>
                        <div class="row-fluid row-fluid-divider">
                            <div class="form-horizontal">
                                <div class="responsive-cell">
                                    Nom : {{ campaign.getName() }} <br/>
                                    Etat : {% if campaign.getState() == 0 %}En attente d'envoi{% elseif campaign.getState() == 1 %}Envoyé{% else %}Ne pas envoyer pour le moment{% endif %} <br/>
                                    Date d'envois : {{ campaign.dateSended() | date ('d') }} {{ campaign.dateSended() | date ('M') | trans }} {{ campaign.dateSended() | date ('Y') }} {{ campaign.dateSended() | date ('H:i') }} <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="responsive-section responsive-section-no-blocks">
                        <h4 class="scrollspy-title">Fax</h4>
                        <div id="scroll-2" class="scrollspy-nav-target"></div>
                        <div class="row-fluid">
                            <div class="form-horizontal">
                                <div class="responsive-cell">
                                    <ul>
                                    {% for fax in campaign.getFax() %}
                                        <li>
                                            <a target="_blank" href="{{ path('enigmatic_oro_marketing_faxing_download_fax', {'campaign_fax': fax.getId() }) }}" title="">Voir le fax ( page {{ loop.index }} )</a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="responsive-section responsive-section-no-blocks">
                        <h4 class="scrollspy-title">Contacts</h4>
                        <div id="scroll-3" class="scrollspy-nav-target">
                            <div class="row-fluid">
                                <div class="form-horizontal">
                                    <div class="responsive-cell">
                                        {% for campaign_contact in campaign.getContacts() %}
                                            <div class="contact">
                                                {% for account in campaign_contact.getContact().getAccounts() %}
                                                    {{ account.getName() }}
                                                {% endfor %}
                                                ( {{ campaign_contact.getContact().getLastName() }} {{ campaign_contact.getContact().getFirstName() }} )
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}