{% extends app.request.isXmlHttpRequest()?"AppBundle::empty.html.twig":'EnigmaticCRMBundle::layout.html.twig' %}

{% block title %}{% trans %}enigmatic.crm.header.titles.campaign_faxing_view{% endtrans %} - {{ campaign.getName() }} - {{ parent() }}{% endblock %}
{% block nav_active %}campaign_faxing{% endblock %}

{% block content %}

{% import "AppBundle:macro:button.html.twig" as button %}

<h1>{{ campaign.getName() }}</h1>

    <div class="action action_left">
        {{ button.create('back', 'Back'|trans, path('enigmatic_crm_campaign_faxing_list'), null, 'speednav') }}
    </div>

    <div class="action action_right">
        {% if campaign.getState() != constant('CAMPAIGN_FAXING_SENDED', campaign) %}
        {{ button.create('update', 'Update'|trans, path('enigmatic_crm_campaign_faxing_update', {'campaign': campaign.getId()}), null, 'speednav') }}
        {% endif %}
    </div>

{% endblock %}
