{% extends "OroUIBundle:Default:index.html.twig" %}
{% block content %}

    <style>
        .list_contact {width:30%;float:left;min-height:300px;}
        .list_contact_action {width:50px;height:50px;float:left;}
        .list_contact h4 {text-align:center;}
        .list_contact em {display:block;text-align:center;}
        .list_contact .list {height:500px;overflow:auto;}
        .contacts {margin-top:15px;}
        .contact_item {background-color: #d2e2f8;border:1px solid #ccc;border-radius:3px;cursor:pointer;margin:2px;padding:5px;float:left;}
        .hidden {display:none;}
        .contact_block {clear:both;}
        .contact_block input {float:left;margin:5px;margin-top:10px;}
    </style>


    <div class="container-fluid page-title">
        <div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">

                <div class="pull-left pull-left-extra">
                    <div class="pull-left">
                        <h1 class="oro-subtitle">{% if campaign.getId() %}Modifier{% else %}Ajouter{% endif %} un mailing</h1>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="pull-right title-buttons-container">

                        <div class="pull-left btn-group icons-holder">
                            <a class="btn back icons-holder-text" href="{% if campaign.getId() %}{{ path('enigmatic_oro_marketing_mailing_view', {'campaign': campaign.getId()}) }}{% else %}{{ path('enigmatic_oro_marketing_mailing_home') }}{% endif %}" title="Annuler">Annuler</a>
                        </div>
                        <div class="pull-left btn-group icons-holder">
                            <button class="btn btn-success main-group action-button" type="button" onclick="jQuery('#submit_button').click();">{% if campaign.getId() %}Modifier{% else %}Ajouter{% endif %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-content">
        <div class="layout-content scrollable-container">

            <div class="navbar navbar-static scrollspy-nav" id="navbar">
                <div class="navbar-inner">
                    <div class="container-fluid" style="width: auto;">
                        <ul class="nav" >
                            <li>
                                <a href="#scroll-1">Informations générales</a>
                            </li>
                            <li class="">
                                <a href="#scroll-2">Configuration du mail</a>
                            </li>
                            <li class="">
                                <a href="#scroll-3">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




                <div class="clearfix">
                    <div class="scrollspy container-fluid scrollable-container form-container" data-offset="1" data-spy="scroll" data-target="#navbar">

                        <form id="form_assoc" method="post" {{ form_enctype(form) }}>

                           <div class="responsive-section responsive-section-has-blocks">
                            <h4 class="scrollspy-title" >Informations générales</h4>
                            <div id="scroll-1" class="scrollspy-nav-target"></div>
                            <div class="row-fluid row-fluid-divider">
                                <div class="form-horizontal">
                                    <div class="responsive-cell">
                                        {{ form_errors(form) }}
                                        {{ form_row(form.name) }}
                                        {{ form_row(form.state) }}
                                        {{ form_row(form.dateSended) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="responsive-section responsive-section-no-blocks">
                            <h4 class="scrollspy-title">Configuration du mail</h4>
                            <div id="scroll-2" class="scrollspy-nav-target"></div>
                            <div class="row-fluid">
                                <div class="form-horizontal">
                                    <div class="responsive-cell">
                                        {{ form_row(form.emailSubject) }}
                                        {{ form_row(form.emailBody) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display:none;">
                            {{ form_widget(form.contacts) }}
                            <div id="list_contacts"></div>
                        </div>

                        {{ form_rest(form) }}
                            <input type="submit" value="Ajouter" id="submit_button" style="display:none;">

                        </form>

                        <div class="responsive-section responsive-section-no-blocks">
                            <h4 class="scrollspy-title"></h4>
                        </div>

                        <div class="responsive-section responsive-section-no-blocks">
                            <h4 class="scrollspy-title">Contacts</h4>
                            <div id="scroll-3" class="scrollspy-nav-target">
                                <div class="row-fluid">
                                    <div class="form-horizontal">
                                        <div class="responsive-cell">
                                            <div class="contacts">

                                                <div class="search">
                                                    <form onsubmit="return Contact.load(false);" >
                                                        <h4>Chercher parmis les contacts</h4>
                                                        <input type="text" id="contacts_availables_search_account_name" value="" placeholder="Compte" />
                                                        <input type="text" id="contacts_availables_search_contact_name" value="" placeholder="Nom du contact" />
                                                        <input type="text" id="contacts_availables_search_zipcode" value="" placeholder="Code postal" />
                                                        <input class="btn" type="submit" value="Rechercher">
                                                    </form>
                                                </div>

                                                <div id="list_contacts_availables" class="list_contact">
                                                    <form onsubmit="return false;">
                                                    <h4>Contacts disponibles</h4>
                                                    <input class="checkbox_all" type="checkbox" onclick="Contact.checkedAll($(this));" data-type="availables" />
                                                    <em>Cliquez sur les cases pour selectionner</em>
                                                    <div class="list"></div>
                                                    </form>
                                                </div>
                                                <div id="list_contacts_action" class="list_contact_action">
                                                    <span onclick="Contact.syncCheckbox();"><=></span>
                                                </div>
                                                <div id="list_contacts_enables" class="list_contact">
                                                    <form onsubmit="return false;">
                                                    <h4>Contacts selectionnés</h4>
                                                    <input class="checkbox_all" type="checkbox" onclick="Contact.checkedAll($(this));" data-type="enables" />
                                                    <em>Cliquez sur les cases pour annuler la selection</em>
                                                    <div class="list"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>


    <script type="text/javascript">
        var Contact = {
            is_lock : false,
            line_id : 0,

            tab_enabled: [],

            search_contact_name: null,
            search_account_name: null,
            search_zipcode: null,

            init: function() {

                jQuery('#enigmatic_oro_mailingbundle_campaign_contacts > div').each(function() {
//                    Contact.enable(jQuery(this).find('select').children('option:selected').val(), jQuery(this).find('select').children('option:selected').html())
//                    jQuery(this).remove();
                });

                this.load(true);
            },

            initEnabled: function() {
                jQuery('#enigmatic_oro_mailingbundle_campaign_contacts > div').each(function() {
                    Contact.add(jQuery('#contact_item_'+jQuery(this).find('select').children('option:selected').val()));
                    jQuery(this).remove();
                });
            },

            parseSearch: function() {
                this.search_contact_name = jQuery('#contacts_availables_search_contact_name').val();
                this.search_account_name = jQuery('#contacts_availables_search_account_name').val();
                this.search_zipcode = jQuery('#contacts_availables_search_zipcode').val();
            },

            load: function (init) {

                if (!this.is_lock) {
                    this.lock_on();

                    this.parseSearch();

                    jQuery.ajax({
                        type: "POST",
                        url: '{{ path('enigmatic_oro_marketing_mailing_contact_search') }}',
                        dataType: "json",
                        data: {contact_name: this.search_contact_name, account_name: this.search_account_name, zipcode: this.search_zipcode},
                        cache: false,
                        success: function (code_html, statut) {
                            if (code_html.success) {
                                Contact.displayData(code_html.result);
                                if (init)
                                    Contact.initEnabled();
                            }
                            else {
                                alert('erreur');
                            }
                        },

                        error: function (resultat, statut, erreur) {
                            alert('Une erreur est survenue ...');
                        },

                        complete: function (resultat, statut) {
                            Contact.lock_off();
                        }
                    });
                }

                return false;
            },

            displayData: function (data) {
                jQuery('#list_contacts_availables .list').html('');
                jQuery.each(data, function(i, item) {
                    var add = true;
                    try {if (Contact.tab_enabled[data[i]['id']] === true) add = false;} catch(err) {}
                    if (add)
                        jQuery('#list_contacts_availables .list').append('<div class="contact_block" id="contact_item_'+data[i]['id']+'"><input type="checkbox" name="availables" ><div onclick="Contact.add($(this).parent());" class="contact_item" data-id="'+data[i]['id']+'">'+data[i]['name']+'</div></div>');
                });
            },

            add: function (data) {
                data.fadeOut(500, function() {
                    Contact.enable(data.children('.contact_item').attr('data-id'), data.children('.contact_item').html());
                    data.remove();
                    jQuery('#contact_item_'+data.children('.contact_item').attr('data-id')).fadeOut(0, function() {
                        jQuery(this).fadeIn(500);
                    });
                });
            },

            remove: function (data) {
                data.fadeOut(500, function() {
                    Contact.disable(data.children('.contact_item').attr('data-id'), data.children('.contact_item').html());
                    data.remove();
                    jQuery('#contact_item_'+data.children('.contact_item').attr('data-id')).fadeOut(0, function() {
                        jQuery(this).fadeIn(500);
                    });
                });
            },

            enable: function (id, name) {
                this.placeItem(jQuery('#list_contacts_enables .list'), name, '<div class="contact_block" id="contact_item_'+id+'"><input type="checkbox" name="enables"><div onclick="Contact.remove($(this).parent());" class="contact_item" data-id="'+id+'">'+name+'</div></div>');

                jQuery('#list_contacts').append('<input type="hidden" id="line_contact_'+this.line_id+'" name="enigmatic_oro_mailingbundle_campaign[contacts]['+this.line_id+'][contact]" value="'+id+'" />');

                this.line_id ++;
                this.tab_enabled[id] = true;
            },

            disable: function (id, name) {
                this.placeItem(jQuery('#list_contacts_availables .list'), name, '<div class="contact_block" id="contact_item_'+id+'"><input type="checkbox" name="availables"><div onclick="Contact.add($(this).parent());" id="contact_item_'+id+'" class="contact_item" data-id="'+id+'">'+name+'</div></div>');
                jQuery('#line_contact_'+id).remove();
                this.tab_enabled[id] = false;
            },

            placeItem: function(container, name, html) {
                var place = false;
                container.find('.contact_block').each(function() {
                    if (jQuery(this).children('.contact_item').html() > name && place === false) {
                        jQuery(this).before(html);
                        place = true;
                    }
                });
                if (!place)
                    container.append(html);
            },

            checkedAll: function(box) {
                var container = jQuery('#list_contacts_enables');
                if (box.attr('data-type') == 'availables')
                    container = jQuery('#list_contacts_availables');

                container.find('input').each(function() {
                    if (box.is(':checked') === true)
                        jQuery(this).prop('checked', true);
                    else
                        jQuery(this).prop('checked', false);
                });
            },

            syncCheckbox: function(box) {
                var container = jQuery('#list_contacts_enables');
                container.find('input').each(function() {
                    if (jQuery(this).is(':checked') === true && jQuery(this).hasClass('checkbox_all') === false)
                        Contact.remove(jQuery(this).parent());
                });
                container = jQuery('#list_contacts_availables');
                container.find('input').each(function() {
                    if (jQuery(this).is(':checked') === true && jQuery(this).hasClass('checkbox_all') === false)
                        Contact.add(jQuery(this).parent());
                });
                jQuery('.checkbox_all').each(function() {
                    jQuery(this).attr('checked', false);
                });

            },

            lock_on : function () {
                this.is_lock = true;
            },

            lock_off : function () {
                this.is_lock = false;
            }
        }

        document.ready = function(){
            Contact.init();
        };

        try {Contact.init();}catch(err) {}

    </script>

{% endblock %}