{% extends "OroUIBundle:Default:index.html.twig" %}
{% block content %}
    <div class="container-fluid page-title">
        <div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">

                <div class="pull-left pull-left-extra">
                    <div class="pull-left">
                        <h1 class="oro-subtitle">Mailing</h1>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="btn-group">
                        <a class="btn main-group btn-primary pull-right " title="Créer Mailing" href="{{ path('enigmatic_oro_marketing_mailing_add') }}"> Créer Mailing </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="clearfix">
            <div class="container-fluid grid-container-parent">
                <div class="grid-container">

                    {% if campaigns | length %}
                        <table class="grid table-hover table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>Nom de la campagne</th>
                                <th>Suject du mailing</th>
                                <th>Nombre de contact</th>
                                <th>Date d'envois</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for campaign in campaigns %}
                                <tr class="row-click-action">
                                    <td onclick="viewCampaign({{ campaign.getId() }})">{{ campaign.getName() }}</td>
                                    <td onclick="viewCampaign({{ campaign.getId() }})">{{ campaign.getEmailSubject() }}</td>
                                    <td onclick="viewCampaign({{ campaign.getId() }})">{{ campaign.getContacts() | length }}</td>
                                    <td onclick="viewCampaign({{ campaign.getId() }})">{{ campaign.dateSended() | date ('d') }} {{ campaign.dateSended() | date ('M') | trans }} {{ campaign.dateSended() | date ('Y') }} {{ campaign.dateSended() | date ('H:i') }}</td>
                                    <td onclick="viewCampaign({{ campaign.getId() }})">{% if campaign.getState() == 0 %}En attente d'envoi{% elseif campaign.getState() == 1 %}Envoyé{% else %}Ne pas envoyer pour le moment{% endif %}</td>
                                    <td class="action-cell">
                                        <div class="more-bar-holder">
                                            <div class="dropdown">
                                                <a class="dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown">...</a>
                                                <ul class="dropdown-menu pull-right launchers-dropdown-menu">
                                                    <li>
                                                        <ul class="nav nav-pills icons-holder launchers-list">
                                                            <li class="launcher-item">
                                                                <a class="action no-hash" title="View" href="{{ path('enigmatic_oro_marketing_mailing_view', {'campaign': campaign.getId()}) }}">
                                                                    <i class="icon-eye-open hide-text">View</i>
                                                                </a>
                                                            </li>
                                                            <li class="launcher-item">
                                                                <a class="action no-hash" title="Edit" href="{{ path('enigmatic_oro_marketing_mailing_update', {'campaign': campaign.getId()}) }}">
                                                                    <i class="icon-edit hide-text">Edit</i>
                                                                </a>
                                                            </li>
                                                            <li class="launcher-item">
                                                                <a class="action" title="Delete" href="{{ path('enigmatic_oro_marketing_mailing_remove', {'campaign': campaign.getId()}) }}" onclick="return confirm('Confirmer la suppression ?');">
                                                                    <i class="icon-trash hide-text">Delete</i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="no-data">
                            <span>Aucun résultat<span></span></span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script>
        function viewCampaign(id) {
            document.location.href = Routing.generate('enigmatic_oro_marketing_mailing_view', {'campaign': id});
        }
    </script>

{% endblock content %}